{
    "url": "http://x.x.x.x:8086",
    "org": "MY_ORG",
    "bucket": "MY_BUCKET",
    "token": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX==",
    "devices": [
        "90:fd:9f:12:34:56",
        "5c:02:72:12:34:56"
    ]
}
